body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  background-color: #f6f5f0;
}
a {
  text-decoration: none;
  color: #333;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
header {
  width: 100%;
  top: 0;
}
header > .inner {
  height: 150px;
  display: block;
}
header .main {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
}
header .main .logo {
  font-family: "Aboreto", cursive;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin: 0 auto;
}
header .main .login {
  padding: 2px 7px;
  border: 1.5px solid #333;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 40px;
}
header .main_menu {
  width: 100%;
  height: 40px;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
}
header .main_menu ul.menu {
  display: flex;
}
header .main_menu ul.menu li {
  padding: 8px 0;
  text-align: center;
  width: 220px;
}
header .main_menu ul.menu > li > a {
  font-size: 15px;
}
header .main_menu ul.menu > li > a:hover {
  font-weight: 700;
}
header .main_menu ul.menu > li > ul {
  display: none;
}
header .main_menu ul.menu > li:hover > ul {
  position: relative;
  margin-top: 16px;
  display: block;
  background-color: #f6f5f0;
  border: 1.5px solid #333;
  border-radius: 3px;
  z-index: 9;
}
header .main_menu ul.menu > li > ul > li {
  margin-top: 2px;
}
header .main_menu ul.menu > li > ul > li > a {
  color: #000;
  text-align: center;
  font-size: 14px;
}
header .main_menu ul.menu > li > ul > li > a:hover {
  font-weight: 600;
}

/* 로그인 모달 */
#modal {
  position: relative;
  display: none;
  z-index: 11;
}
#modal .modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}
#modal .modal_window {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 300px;
  height: 250px;
  position: relative;
  margin: auto;
  padding: 10px;
}
#modal .modal {
  display: flex;
  align-items: center;
}
#modal .modal_title {
  margin: 0 auto;
  padding: 10px 0 20px 0;
  font-size: 20px;
  font-weight: 700;
}
#modal .close_area {
  cursor: pointer;
  padding-bottom: 40px;
  padding-right: 5px;
}
#modal .content {
  display: block;
}

#modal .content .logbox {
  text-align: center;
}
#modal .content #logid {
  margin: 5px;
  width: 250px;
  height: 25px;
  padding: 5px;
}
#modal .content #logpwd {
  margin: 5px;
  width: 250px;
  height: 25px;
  padding: 5px;
}
#modal .content .log_btn {
  text-align: center;
  background-color: #884259;
  width: 250px;
  height: 25px;
  margin: 0 auto;
  line-height: 25px;
  padding: 5px;
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
}
#modal .content .text {
  font-size: 7px;
  text-align: center;
  margin: 13px;
}

/* 메뉴 */
.title {
  position: relative;
}
.title .stdcouncil__menu {
  position: absolute;
  display: flex;
  width: 100%;
  margin: 30px;
}
.title .stdcouncil__menu .stdcouncil__intro {
  display: flex;
  margin-right: 40px;
  cursor: pointer;
  font-weight: 800;
  padding-bottom: 3px;
  border-bottom: solid 1.5px #000;
}
.title .stdcouncil__menu .stdcouncil__board {
  display: flex;
  cursor: pointer;
}
.title .stdcouncil__menu .stdcouncil__board:hover {
  font-weight: 800;
  cursor: pointer;
}

/* 개화 소개 */
.stdcouncil__items {
  position: relative;
  width: 100%;
  height: 1500px;
}
.stdcouncil__items .text {
  text-align: center;
  padding: 150px 0 70px 0;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}
.stdcouncil__items .intro__box {
  width: 100%;
  height: 1000px;
  border: solid 1px #333;
}
.stdcouncil__items .intro__box .people {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
}
.stdcouncil__items .intro__box .person1 {
  margin-right: 100px;
  text-align: center;
}
.stdcouncil__items .intro__box .person2 {
  margin-left: 100px;
  text-align: center;
}
.stdcouncil__items .intro__box .stucouncil__txt {
  text-align: center;
  margin-top: 550px;
}
.stdcouncil__items .intro__box .logo {
  text-align: center;
  margin: 80px;
}

/* footer */
footer {
  width: 100%;
  height: 70px;
  text-align: center;
}
